<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Password Strength Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="container">
    <h1>Password Strength Analyzer</h1>
    <form method="POST" action="/">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Check Strength</button>
    </form>

    <button type="button" id="generateBtn"> ⚡Generate Secure Password</button>
    <div id ="generatedResult" style="display:none">

      <code id ="generatedPassword"></code>
      <button type ="button" id="copyBtn"> Copy</button>
    </div>

    {% if strength %}
    <div class="result">
      <h2>Result:</h2>
      <p class="strength-{{ strength|lower }}">Strength: <strong>{{ strength }}</strong></p>
      
      <div class="meter">
        <div class="meter-fill" style="width: {{ percentage }}%;"></div>
      </div>

      {% if entropy %}
      <div class ="entropy-box">
        🔒 Entropy : <strong>{{ entropy }} bits</strong> -{{e_label}}
        <small>(60 + bits is strong, 128+ is excellent)</small>
      </div>
      {% endif %}
      
      {% if feedback %}
      <ul>
        {% for item in feedback %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% else %}
    <p>Enter a password to check its strength.</p>
    {% endif %}
  </div>
</body>

<script>
  document.getElementById("generateBtn").addEventListener("click",async () =>{
    const res =await fetch("/generate");

    const data =await res.json();

    document.getElementById("generatedPassword").textContent=data.password;
    document.getElementById("generatedResult").style.display= "block";
    document.getElementById("password").value =data.password; // auto-fills the input

  });

  document.getElementById("copyBtn").addEventListener("click", () =>{
    const pwd = document.getElementById('generatedPassword').textContent;
    navigator.clipboard.writeText(pwd);
    document.getElementById('copyBtn').textContent = '✅ Copied!';
    setTimeout(() => document.getElementById('copyBtn').textContent = '📋 Copy', 2000);
  });
</script>
</html>